@model EmployeesListViewModel
@using CalendaroNet.Models.Employee

@{
    ViewData["Title"] = "Manage your employees";
}
    <form asp-controller="Employee" asp-action="AddEmployee" method="GET">
        <button type="submit" class="btn btn-sm btn-success d-none d-md-inline-block">
            Add
        </button>
    </form>

    <div class="panel panel-default service-panel">
    <div class="panel-heading">@ViewData["Title"]</div>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>Name</td>
                <td>Employment Date</td>
                <td>Contract End Date</td>
                <td>Salary</td>
                <td>AdedBy</td>
                <td>EditedBy</td>
                <td>Opcje</td>

            </tr>
        </thead>

        @foreach (var employee in Model.Employees)
        {
            <tr>

                <td>@employee.Name</td>
                <td>@employee.EmploymentDate</td>
                <td>@employee.EmploymentDate</td>
                <td>@employee.ContractEndDate</td>
                <td>@employee.BaseMonthSalary</td>
                <td>@employee.AdedBy</td>
                <td>@employee.EditedBy</td>
                <td>
                    <form asp-controller="Employee"asp-action="DeleteEmployee" asp-route-id="@employee.Id">
                        <button type="submit" class="btn btn-sm btn-danger d-none">
                            Delete
                        </button>
                    </form>
                    <form asp-controller="Employee"asp-action="EditEmployee" method="Get" asp-route-id="@employee.Id">
                        <button type="submit" class="btn btn-sm btn-warning d-none">
                            Edit
                        </button>
                    </form>
                </td>
                
            </tr>
        }
    </table>

    </div>